<script id="iox-user-form-template" type="text/html">
  <div class="pull-left">
    <div class="user-avatar">
      <img data-bind="attr: { src: avatar, 'data-user-id': id }" class="avatar" />
      <!-- ko if: id -->
      <div class="user-upload-avatar-txt">
        <%= t('user.change_picture') %>
      </div>
      <input type="file" class="user-upload-avatar" name="user[avatar]" data-bind=" attr: { 'data-url': '/iox/users/'+id+'/upload_avatar' }" />
      <!-- /ko -->
    </div>
  </div>
  <div class="user-details">

    <h3 class="title" data-bind="text: (id ? username() : '<%= t('user.new') %>')"></h3>

    <form data-bind="submit: (id ? saveUserForm : createUserForm)">

      <div class="scrollable-content w-header w-footer">

        <div class="fields-header"><%= t('user.general') %></div>

        <div class="field-box required">
          <label for="username"><%= t('user.username') %></label>
          <input type="text" name="user[username]" data-bind="value: username" required validationMessage="<%= t('user.username_required') %>" />
        </div>

        <div class="field-box">
          <label for="firstname"><%= t('firstname') %></label>
          <input type="text" name="user[firstname]" data-bind="value: firstname" />
        </div>

        <div class="field-box">
          <label for="firstname"><%= t('lastname') %></label>
          <input type="text" name="user[lastname]" data-bind="value: lastname" />
        </div>

        <div class="fields-header"><%= t('user.contact_info') %></div>
        <div class="field-box required">
          <label for="email"><%= t('email') %></label>
          <input type="text" name="user[email]" data-bind="value: email" required validationMessage="<%= t('user.email_required') %>" />
        </div>

        <% if !Rails.configuration.iox.skip_user_fields || !Rails.configuration.iox.skip_user_fields.include?(:phone) %>
          <div class="field-box">
            <label for="firstname"><%= t('phone') %></label>
            <input type="text" name="user[phone]" data-bind="value: phone" />
          </div>
        <% end %>

        <% if current_user.is_admin? %>

          <div class="fields-header"><%= t('user.roles') %></div>

          <div class="field-box">
            <select name="roles[]" multiple class="select-roles label-offset">
              <% Rails.configuration.iox.user_roles.each do |role| %>
                <option value="<%= role %>" data-bind="attr: { selected: (roles().indexOf('<%= role %>') >= 0) }"><%= role %></option>
              <% end %>
            </select>
          </div>

        <% end %>

          <!-- ko if: id -->

          <% if current_user.is_admin? %>

            <div class="fields-header"><%= t('user.suspend') %></div>

            <div class="field-box">
              <div class="label-offset desc"><%= t('user.suspend_desc') %></div>

              <!-- ko ifnot: suspended -->
              <a href="#" class="btn btn-warning label-offset" data-xhr-win="true" data-bind="attr: { 'data-xhr-href': '/iox/users/'+id+'/confirm_suspend' }"><%= t('user.suspend_this_user') %></a>
              <!-- /ko -->
              <!-- ko if: suspended -->
              <a data-bind="attr: { href: '/iox/users/'+id+'/unsuspend' }" class="btn btn-primary label-offset" data-method="patch" data-remote="true"><%= t('user.unsuspend_this_user') %></a>
              <!-- /ko -->
            </div>

          <% end %>

          <div class="fields-header"><%= t('user.delete') %></div>

          <div class="field-box">
            <div class="label-offset desc"><%= t('user.delete_desc') %></div>

            <a href="#" class="btn btn-danger label-offset" data-xhr-win="true" data-bind=" attr: { 'data-xhr-href': '/iox/users/'+id+'/confirm_delete' } "><%= t('user.delete_this_user') %></a>
          </div>

          <!-- /ko -->


      </div>

      <div class="scrollable-content-footer">
        <button type="submit" class="pull-right btn-primary btn" data-bind="text: ( id ? '<%= t('save') %>' : '<%= t('create') %>' )"></button>
        <span class="send-welcome-msg">
          <input type="checkbox" name="send_welcome_msg" data-bind="attr: {checked: !id}" /><%= t('user.send_welcome_msg') %>
        </span>
      </div>

      <input type="submit" class="hide" value="submit" />

    </form>

  </div>
</script>