<div class="container-fluid">
  <div id="pad-wrapper" class="new-user">
    <div class="row-fluid header">
      <h3><%= t('user.settings') %></h3>
    </div>

    <div class="row-fluid form-wrapper">
      <!-- left column -->
      <div class="span9 with-sidebar">
        <div class="container">

          <% @user.settings.each do |pref| %>

            <%= form_for pref, remote: true, html: { class: 'new_user_form inline-input'} do |p| %>

              <div class="span12 field-box">
                <%= p.label key, t("user.#{pref.key}") %>
                <%= p.text_field value, :class => 'span9 inline-input' %>
              </div>

            <% end %>
          <% end %>

        </div>
      </div>

      <!-- side right column -->
      <div class="span3 form-sidebar pull-right">
          <h6><%= t('user.save_restore_settings') %></h6>
          <p><%= t('user.save_restore_settings_desc') %></p>
          <ul>
              <li><%= link_to t('user.export_settings_file'), '#' %></li>
              <li><%= link_to t('user.import_settings_file'), '#' %></li>
          </ul>
      </div>
    </div>
  </div>
</div>