<%= content_for :add_css do %>
  <%= stylesheet_link_tag "iox/users", media: "all" %>
<% end %>
<%= content_for :add_js do %>
  <%= javascript_include_tag "iox/users" %>
<% end %>

<div class="iox-content auto-overflow user-profile">

  <div class="user-avatar">
    <%= image_tag @user.avatar.url(:original), 'data-user-id' => @user.id, class: 'avatar' %>
    <div class="user-upload-avatar-txt">
      <%= t('user.change_picture') %>
    </div>
    <input type="file" data-url="<%= upload_avatar_user_path( @user ) %>" name="user[avatar]" class="user-upload-avatar" />
  </div>

  <div class="user-content">

    <%= link_to t('change_password'), change_password_path( current_user ), :'data-xhr-win' => true, class: 'pull-right' %>
    <%= link_to t('user.edit'), edit_user_path( current_user ), :'data-xhr-win' => true, class: 'pull-right', style: 'margin-right: 20px' %>

    <div class="field-box">
      <h3><%= @user.username %></h3>
    </div>

    <div class="field-box">
      <h4><%= t('full_name') %></h4>
      <span><%= @user.full_name %></span>
    </div>

    <div class="field-box">
      <h4><%= t('email') %></h4>
      <span><%= @user.email %></span>
    </div>

    <div class="field-box">
      <h4><%= t('phone') %></h4>
      <span><%= @user.phone %></span>
    </div>

    <div class="field-box">
      <h4><%= t('user.roles') %></h4>
      <span><%= @user.roles %></span>
    </div>

    <div class="field-box">
      <h4><%= t('user.last_time_online') %></h4>
      <span title="<%= @user.last_request_at ? l(@user.last_request_at) : t('never') %>" rel="tooltip"><i class="icon-time desc"></i> <%= @user.last_request_at ? time_ago_in_words(@user.last_request_at) : t('never') %></span>
    </div>

  </div>

</div>