<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.configuration.iox.site_title %> | <%= controller.controller_name %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "iox/application", media: "all" %>
    <%= yield :add_css %>
    <%= javascript_include_tag "3rdparty/jquery" %>
    <script type="text/javascript">
      $(function(){

        moment.lang('<%= I18n.locale %>');
        
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
        
        iox.Win.defaults.i18n = {
          ok: '<%= t('ok') %>',
          yes: '<%= t('yes') %>',
          no: '<%= t('no') %>',
          cancel: '<%= t('cancel') %>'
        }

        kendo.culture('<%= (I18n.locale.match(/en/) ? 'en-GB' : 'de-DE') %>');

        if( typeof(CKEDITOR) !== 'undefined' )
          CKEDITOR.basePath = '/javascripts/3rdparty/ckeditor/';

      })
    </script>
    <%= javascript_include_tag "iox/application" %>
    <%= yield :add_js %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- ion main container wrapper -->
<div class="iox-mcw">

  <div class="iox-app-nav">
    <%= render partial: 'common/app_nav' %>
  </div>

  <div class="iox-top-nav clearfix">
    <%= render partial: 'common/top_nav' %>
    <div class="iox-flash-container"></div>
    <%= flash_with_javascript %>

    <%= link_to image_tag(Rails.configuration.iox.brand_logo, class: 'logo', title: t('to_startpage'), rel: 'tooltip'), '/' %>
  </div>

  <div class="iox-mcc">
    <%= yield %>
  </div>

</div><!-- ion main container wrapper -->

</body>
</html>