<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.configuration.iox.site_title %> | login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "iox/application", media: "all" %>
    <%= javascript_include_tag "iox/application" %>

    <%= csrf_meta_tags %>
</head>

<body>

<!-- ion main container wrapper -->
<div class="iox-mcw">

  <div class="iox-mcc">

    <div class="auth-flash-container<%= ' error' if flash.alert  %>">
      <% if flash.alert %>
        <div class="flash-item">
          <%= raw flash.alert %>
        </div>
      <% end %>
    </div>

    <noscript>
    <div class="login-form">
      <%= t('javascript_required') %>
    </div>
    </noscript>
    <script type="text/javascript">
      $(document).ready( function(){
        iox.preloadImage( $('.logo').attr('src'), function(imgPath){
          $('.iox-auth-container').fadeIn();
        });
      });
    </script>

    <div class="iox-auth-container" style="display:none">
      <%= image_tag Rails.configuration.iox.brand_logo, class: 'logo' %>
      <%= yield %>
    </div>
  </div>

</div><!-- ion main container wrapper -->

</body>
</html>