<%= content_for :add_js do %>
  <%= javascript_include_tag "3rdparty/ckeditor/ckeditor" %>
  <%= javascript_include_tag "iox/webpages" %>
<% end %>

<%= content_for :add_css do %>
  <%= stylesheet_link_tag "iox/webpages", media: "all" %>
<% end %>

<div class="iox-sidebar">
  <div class="iox-sidebar-arrow"></div>
  <div class="iox-sidebar-frame">

    <div class="iox-webpage-header iox-tree-control">
      <form>
        <input type="text" name="query" placeholder="<%= t('filter_results') %> " />
        <input type="submit" value="<%= t('search') %>" />
      </form>
      <button class="btn" data-tree-role="refresh" title="<%= t('refresh') %>"><i class="icon-refresh"></i></button>
      <button class="btn" data-tree-role="new" title="<%= t('blog.new') %>"><i class="icon-plus"></i></button>
    </div>

    <ul id="iox-webpages-list"></ul>

  </div>

</div>

<div class="iox-content offset-sidebar">
  <div class="iox-content-frame hide">
    <div id="iox-webpage-details" class="iox-form" data-bind="template: { name: (id ? 'iox-blog-form-template' : 'iox-new-blog-form-template') }">
    </div>
  </div>
  <div class="iox-details-placeholder">
    <i class="icon-info-sign"></i>
    <%= t('webpages.click_on_blog_to_show_details') %>
  </div>
</div>

<%= render partial: '/iox/blogs/new_form' %>
<%#
  # render all blog templates
  # found in the /iox/blogs/templates dir
  #
%>
<%= render partial: '/iox/blogs/templates/default_form' %>

<script id="iox-tree-item-template" type="text/html">
  <li data-bind=" attr: { 'data-id': id, id: 'item_'+id }, click: markItem">
    <div class="item clearfix" data-bind=" css: { selected: _selected, hide: _hide }">
      <div class="actions">
        <a class="action-icon publish-action" data-bind="click: publishBlog">
          <i class="icon-ban-circle success published-status" data-bind="css: { 'hide': published() }" rel="tooltip" title="<%= t('blog.publish') %>"></i>
          <i class="icon-ok-sign published-status" data-bind="css: { 'hide': !published() }" rel="tooltip" title="<%= t('blog.unpublish') %>"></i>
        </a>
      </div>
      <a class="title" data-bind="click: showForm, attr: { title: name }, text: name"></a>
      <br class="clearfix">
      <div class="newline">
        <span class="date" data-bind="text: moment( created_at ).format('DD. MMMM YYYY - HH:mm')"></span>
        <span class="author" data-bind="text: creator_name"></span>
      </div>
    </div>
  </li>
</script>

<script type="text/javascript">

  $(document).ready( function(){

    $('#iox-webpages-list').ioxTree({
      url: '/iox/blogs',
      creationURL: '/iox/blogs/new',
      deletionURL: '/iox/webpages',
      observe: ['published','translation','template','show_in_menu','show_in_sitemap'],
      control: $('.iox-tree-control'),
      i18n:{
        noEntriesFound: '<%= t('filter_no_entries_found') %>'
      },
      events: {

        afterRemove: function afterRemove( item ){
          $('.iox-details-placeholder').show();
          $('.iox-content-frame').hide();
        },

        item: {

          /*
           * show the blog form (depending on the blog's template)
           * for editing existing blogs
           */
          showForm: function showForm( item, e ){
            $('.iox-details-placeholder').hide();
            $('.iox-content-frame').show();
            setupBlogForm( item );
          },

          /**
           * save an existing blog
           */
          saveBlogForm: function saveblogForm( form ){
            var self = this;
            if( this._validator.validate() ){
              $('.iox-content-frame').block();
              $.ajax({ url: this._master.options.url+'/'+self.id, data: $(form).serializeArray(), dataType: 'json', type: 'put' 
              }).done( function( json ){
                $('.iox-content-frame').unblock();
                iox.flash.rails( json.flash );
              });
            } else {
              iox.flash.notice('<%= t('please_fill_out_all_fields') %>');
              return false;
            }
          },

          /**
           * create a new blog
           */
          createBlogForm: function createBlogForm( form ){
            var TreeItem = this.constructor;
            var self = this;
            if( this._validator.validate() ){
              $('.iox-content-frame').block();
              $.ajax({ url: this._master.options.url, data: $(form).serializeArray(), dataType: 'json', type: 'post' }).done( function( json ){
                $('.iox-content-frame').unblock();
                if( json.success ){
                  var item = new TreeItem( json.item, self._master );
                  if( item.parent_id ){
                    var $parentLi = $(self._master.obj).find('li[data-id='+item.parent_id+']');
                    var parent = ko.dataFor($parentLi.get(0));
                    if( $parentLi.find('.open-folder').length ){
                      if( $parentLi.find('.open-folder').length && $parentLi.find('.open-folder').hasClass('open') )
                        parent.children.push( item );
                      else
                        $parentLi.find('.open-folder').click();
                    } else{
                      $parentLi.find('.folder-spacer').addClass('open-folder').click();
                    }
                  } else
                    self._master.items.push( item );
                  setupBlogForm( item );
                }
                iox.flash.rails( json.flash );
              });
            } else {
              iox.flash.notice('<%= t('please_fill_out_all_fields') %>');
              return false;
            }
          },

          /**
           * publish a blog (ajax)
           */
          publishBlog: function publishBlog( item, e ){
            item.published( !item.published() );
            $.ajax({ url: '/iox/webpages/'+item.id+'/publish',
              data: {publish: item.published()},
              type: 'put'
            }).done( function(response){
              if( !response.success )
                item.published( !item.published() );
              iox.flash.rails( response.flash );
            });
          },

          /**
           * switch to a different translation
           */
          switchTranslation: function switchTranslation( item, e ){
            $.getJSON( '/iox/blogs/'+item.id+'/translations/'+$(e.target).text(),
              function( jsonResponse ){
                if( jsonResponse ){
                  item.translation( jsonResponse );
                    iox.webpageTmpl.blog( item );
                }
                else
                  new iox.Win({
                    yesNoQuestion: '<%= t('blog.translation_does_not_exist_create') %>',
                    onYes: function onYes($win){
                      $.ajax({ url: '/iox/blogs/'+item.id+'/translations',
                               data: { locale: $(e.target).text() },
                               dataType: 'json',
                               type: 'post'
                      }).done( function( jsonResponse ){
                        if( jsonResponse.success ){
                          item.translation( jsonResponse.item );
                            iox.webpageTmpl.blog( item );
                        }
                        iox.flash.rails( jsonResponse.flash );
                      });
                    }
                  })
            });
            $(e.target).closest('.iox-simple-select')
              .find('.iox-simple-select-list').slideUp(100)
              .toggleClass('toggled');
          },

          /**
           * switch to a different template
           */
          switchTemplate: function switchTemplate( item, e ){
            item.template( $(e.target).text() );
            $('li[data-id='+item.id+']').click();
            $(e.target).closest('.iox-simple-select')
              .find('.iox-simple-select-list').slideUp(100)
              .toggleClass('toggled');
          }

        },
        tree: {

          /**
           * load a new blog (by asking for json object from
           * server). this gives opportunities to set default
           * values at application level
           */
          newItemForm: function newItem( e, tree, TreeItem ){
            var self = this;
            $('.iox-details-placeholder').show().block();
            $('.iox-content-frame').hide();
            $(this).block({ message: iox.loaderHorizontal });
            $.getJSON( '/iox/blogs/new' ).done( function( json ){
              $('.iox-details-placeholder').unblock().hide();
              $('.iox-content-frame').show();
              var item = new TreeItem(json, tree);
              if( tree._selectedItem )
                item._parent( tree._selectedItem );
              setupBlogForm( item );
              $('#iox-webpage-details input[type=text]:first').focus();
              $(self).unblock();
            });
          }
        }

      }
    });


    function setupBlogForm( item ){
      ko.cleanNode($('#iox-webpage-details').get(0));
      $('#iox-webpage-details').html('');
      ko.applyBindings( item, $('#iox-webpage-details').get(0) );
      $('.blog-template').kendoDropDownList();
      item._validator = $("#iox-webpage-details").kendoValidator().data("kendoValidator");

      iox.webpageTmpl.blog( item );
    }
  });
</script>