<span data-ion-win-title="true"><%= t('user.edit') %></span>
<%= form_for @user, html: { class: 'ion-win-auth-form'} do |f| %>

  <div class="content-padding">

    <div class="field-box">
      <%= f.label :email, t('email') %><br />
      <%= f.text_field :email, class: 'js-get-focus' %>
    </div>

    <% if !Rails.configuration.ion.skip_user_fields || !Rails.configuration.ion.skip_user_fields.include?(:phone) %>
      <div class="field-box">
        <%= f.label :phone, t('phone') %><br />
        <%= f.text_field :phone %>
      </div>
    <% end %>

    <div class="field-box">
      <%= f.label :firstname, t('firstname') %><br />
      <%= f.text_field :firstname %>
    </div>

    <div class="field-box">
      <%= f.label :lastname, t('lastname') %><br />
      <%= f.text_field :lastname %>
    </div>

  </div>

  <div class="ion-win-footer">
    <button type="submit" class="btn btn-primary"><%= t('save') %></button>
    <button class="btn" data-close-win="true"><%= t('cancel') %></button>
  </div>

<% end %>