<%= form_tag reset_password_path, html: { class: 'login-form' } do %>

  <% if @user %>

    <div class="forgot-pwd">
      <h3><%= t('auth.reset_password_txt') %></h3>
    </div>

    <div class="field-box">
      <label><%= t('auth.new_password') %></label>
      <%= password_field_tag 'password', '', class: 'js-get-focus' %>
    </div>

    <div class="field-box">
      <label><%= t('auth.confirm_password') %></label>
      <%= password_field_tag 'password_confirmation', '', class: 'js-get-focus' %>
    </div>

    <%= hidden_field_tag :email, params[:email] %>
    <%= hidden_field_tag :k, params[:k] %>

    <p class="submit-p"><%= submit_tag t('auth.save_password'), class: 'btn' %></p>

  <% else %>
    <div style="margin-top: 100px"></div>
  <% end %>

<% end %>

<div class="footer">
  <a href="<%= login_path %>"><%= t('back') %></a>&nbsp;|&nbsp;<a href="/"><%= t('back_to_startpage') %></a>
</div>