<span data-ion-win-title="true"><%= t('change_password') %></span>
<%= form_for @user, url: save_password_path( @user ), html: { class: 'ion-win-auth-form'} do |f| %>

  <div class="content-padding">

    <div class="field-box">
      <%= f.label :password, t('auth.new_password') %>
      <br />
      <%= f.password_field :password, class: 'js-get-focus' %>
    </div>

    <div class="field-box">
      <%= f.label :password_confirmation, t('auth.password_confirmation') %>
      <br />
      <%= f.password_field :password_confirmation %>
    </div>

  </div>

  <div class="ion-win-footer">
    <button type="submit" class="btn btn-primary"><%= t('save') %></button>
    <button class="btn" data-close-win="true"><%= t('close') %></button>
  </div>

<% end %>