<%= form_tag forgot_password_path, html: { class: 'login-form' } do %>

  <div class="forgot-pwd">
    <h2><%= t('auth.forgot_password_request') %></h2>
    <p><%= t('auth.forgot_password_head') %></p>
  </div>

  <div>
    <%= text_field_tag 'email', '', class: 'js-get-focus' %>
  </div>

  <p class="submit-p"><%= submit_tag t('auth.request_password'), class: 'btn' %></p>

<% end %>

<div class="footer">
  <a href="<%= login_path %>"><%= t('back') %></a>&nbsp;|&nbsp;<a href="/"><%= t('back_to_startpage') %></a>
</div>