<%= form_tag login_path, html: { class: 'login-form' } do %>

  <p><%= text_field_tag 'email', '', class: 'js-get-focus', autocomplete: false, placeholder: "#{t('user.email')} / #{t('user.username')}" %></p>

  <p><%= password_field_tag 'password', '', required: true, placeholder: t('user.password'), autocomplete: false %></p>

  <p class="submit-p"><%= submit_tag t('auth.login'), class: 'btn' %></p>

<% end %>

<div class="footer">
  <% if Rails.configuration.ion.has_key(:open_registration) && Rails.configuration.open_registration %>
    <a href="<%= a_f_pwd_path %>">Registrieren</a>&nbsp;|&nbsp;
  <% end %><a href="<%= a_f_pwd_path %>">Passwort vergessen</a>&nbsp;|&nbsp;<a href="/">Zurück zur Startseite</a>
</div>