<%= form_tag reset_password_path, html: { class: 'login-form' } do %>

  <div class="forgot-pwd">
    <h2><%= t('auth.welcome') %></h2>
  </div>

  <div class="field-box">
    <label><%= t('auth.set_password_txt') %></label>
    <%= password_field_tag 'password', '', class: 'js-get-focus' %>
  </div>

  <div class="field-box">
    <label><%= t('auth.confirm_password') %></label>
    <%= password_field_tag 'password_confirmation', '', class: 'js-get-focus' %>
  </div>

  <%= hidden_field_tag :email, params[:email] %>
  <%= hidden_field_tag :k, params[:k] %>

  <p class="submit-p"><%= submit_tag t('auth.save_password'), class: 'btn' %></p>

<% end %>

<div class="footer">
  <a href="<%= login_path %>"><%= t('back') %></a>&nbsp;|&nbsp;<a href="/"><%= t('back_to_startpage') %></a>
</div>