<script id="iox-webpage-form-template-<%= template %>" type="text/html">

  <%= render partial: '/iox/webpages/form/header' %>

  <form data-bind="submit: saveWebpageForm">

    <div class="scrollable-content w-header w-footer w-padding">

      <div class="fields-header"><%= t('webpage.general') %></div>

      <div class="field-box required">
        <label for="name"><%= t('name') %></label>
        <input type="text" name="webpage[name]" data-bind="value: name" required validationMessage="<%= t('webpage.name_required') %>" />
      </div>

      <div class="field-box required">
        <label for="name"><%= t('webpage.slug') %></label>
        <tt>/p/</tt>
        <input type="text" name="webpage[slug]" data-bind="value: slug" required validationMessage="<%= t('webpage.slug_required') %>" style="width:372px; font-size: 0.8em;" />
      </div>

      <div class="fields-header"><%= t('webpage.publishing_status') %></div>

      <div class="field-box required">
        <div class="label-offset publishing-status">
          <%= t('webpage.your_webpage_currently_is') %>
          <!-- ko if: published -->
          <span class="label label-success" data-bind="click: publishWebpage" rel="tooltip" title="<%= t 'webpage.unpublish' %>"><i class="icon icon-ok-sign"></i><%= t('webpage.published') %></span>
          <!-- /ko -->
          <!-- ko ifnot: published -->
          <span class="label" data-bind="click: publishWebpage" rel="tooltip" title="<%= t 'webpage.publish' %>"><i class="icon icon-ban-circle"></i><%= t('webpage.not_published') %></span>
          <!-- /ko -->
          <i class="icon-question-sign" title="<%= t('whats_this') %>?" style="margin-right: 10px;" rel="tooltip" data-confirmation-win="true" data-confirmation-txt="<%= t('webpage.publish_desc') %>"></i>
          <input type="hidden" name="webpage[show_in_menu]" value="0" />
          <input type="checkbox" name="webpage[show_in_menu]" value="1" data-bind="checked: show_in_menu" />
          <span><%= t('webpage.show_in_menu') %></span>
          <input type="hidden" name="webpage[show_in_sitemap]" value="0" />
          <input type="checkbox" name="webpage[show_in_sitemap]" value="1" data-bind="checked: show_in_sitemap" />
          <span><%= t('webpage.show_in_sitemap') %></span>
        </div>
      </div>

      <div class="fields-header"><%= t('webpage.current_translation') %></div>

      <input type="hidden" name="webpage[translation][id]" data-bind="value: translation().id" />

      <div class="field-box">
        <label for="name"><%= t('name') %></label>
        <input type="text" name="webpage[translation][title]" data-bind="value: translation().title" />
      </div>


      <div class="field-box">
        <label for="webpage_meta_keywords"><%= t('webpage.meta_keywords') %></label>
        <input type="text" class="webpage_meta_keywords" data-bind="attr: { name: 'webpage[translation][meta_keywords]' }, value: translation().meta_keywords" />
      </div>

      <div class="field-box">
        <label for="webpage_meta_description"><%= t('webpage.meta_description') %></label>
        <textarea maxlength="255" data-bind="attr: { name: 'webpage[translation][meta_description]' }, value: translation().meta_description" />
        <br />
        <span class="label-offset mini-desc"><%= t('max_255') %></span>
      </div>

    </div>

    <%= render partial: '/iox/webpages/form/footer' %>

  </form>

</script>

<script type="text/javascript">

$(function(){
  iox.webpageTmpl['<%= template %>'] = function defaultTmplSetup( item ){
    if( $('.webpage_meta_keywords').data('select2') )
      $('.webpage_meta_keywords').select2('destroy')
    $('.webpage_meta_keywords').select2({ tokenSeparators: [','], tags: [], width: '400px' })
  }
});

</script>