<div id="new-webpage-block" class="block-modal new-object">
  <div class="block-header">
    <span class="pull-right close-block close-block-trigger"><i class="icon-remove"></i></span>
    <span class="title"><%= t('webpages.new') %><%= " (#{@parent.name})" if @parent %></span>
  </div>
  <div class="block-body">
    <%= form_for @webpage, remote: true do |f| %>
      <p>
        <%= f.label :name, t('webpage.name') %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :template, t('webpage.template') %>
        <%= f.hidden_field :parent_id %>
        <%= f.select :template, options_for_select( available_webpage_templates(:translate) ), class: 'select2' %>
        <%= f.fields_for @webpage.translation do |trans| %>
          <%= trans.hidden_field :locale %>
        <% end %>
        <%= f.submit '', style: 'display:none' %>
      </p>
    <% end %>
  </div>
  <div class="block-footer">
    <input type="checkbox" name="continue-creating" style="margin: -1px 3px 0 0" value="true" /><%= t('keep_open') %>
    <a class="btn close-block-trigger"><%= t('close') %></a>
    <a class="btn btn-primary" onclick="$(this).closest('.block-modal').find('form').submit();"><%= t('create') %></a>
  </div>
</div>