<script id="iox-new-webpage-form-template" type="text/html">

  <h3 class="title" data-bind="html: (id ? name() : '<%= t('webpage.new') %>')+(_parent() ? ' in <strong>&raquo;'+_parent().name()+'&laquo;</strong>' : '')"></h3>

  <form data-bind="submit: (id ? saveWebpageForm : createWebpageForm)">

    <div class="scrollable-content w-header w-footer w-padding">

      <div class="fields-header"><%= t('webpage.general') %></div>

      <div class="field-box required">
        <label for="name"><%= t('name') %></label>
        <input type="text" name="webpage[name]" data-bind="value: name" required validationMessage="<%= t('webpage.name_required') %>" />
      </div>

      <div class="field-box required">
        <label for="name"><%= t('webpage.template') %></label>
        <select name="webpage[template]" class="webpage-template">
          <% available_webpage_templates(:translate).each do |tmpl| %>
            <option value="<%= tmpl[1] %>" data-bind="attr: { selected: ('<%= tmpl[1] %>' === template) }"><%= tmpl[0] %></option>
          <% end %>
        </select>
      </div>

    </div>

    <div class="scrollable-content-footer">
      <button type="submit" class="pull-right btn-primary btn" data-bind="text: ( id ? '<%= t('save') %>' : '<%= t('create') %>' )"></button>
    </div>


    <input type="hidden" name="webpage[parent_id]" data-bind="value: (_parent() ? _parent().id : '')" />
    <input type="submit" class="hide" value="submit" />

  </form>

</script>