<div class="webpage-mini-sidebar">
  <%= link_to image_tag('iox/logo_transp_150x150.png', class: 'iox-logo'), dashboard_path %>
  <a title="<%= t('webpages.back') %>" href="<%= webpages_path %>"><i class="icon-list"></i></a>
  <a title="<%= t('webpage.edit') %>" href="<%= edit_webpage_path(@webpage) %>"><i class="icon-edit"></i></a>
</div>
