<!-- side right column -->
<div class="webpage-sidebar">

  <!-- save and other actions -->
  <div class="btn-group settings pull-right" style="width:auto">
    <button class="btn" title="<%= t('webpages.back') %>" data-href="<%= webpages_path %>"><i class="icon-chevron-sign-left"></i></button>
    <span id="push-sidebar-pin" class="btn" title="<%= t('stick') %>"><i class="icon-pushpin"></i></span>
    <button class="btn" type="submit" title="<%= t('save') %>"><i class="icon-save"></i></button>
    <button class="btn" title="<%= t('view') %>" data-href="<%= webpage_path(@webpage) %>"><i class="icon-eye-open"></i></button>
    <button data-toggle="dropdown" class="btn dropdown-toggle">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="<%= webpages_path %>"><%= t('webpages.back') %></a></li>
        <li><a href="<%= webpage_path(@webpage) %>" target='_blank'><%= t('view') %></a></li>
        <li><%= link_to t('delete'), @webpage, method: :delete, data: { confirm: t('webpage.really_delete', name: @webpage.name) } %></li>
    </ul>
  </div>

  <%= image_tag Rails.configuration.iox.brand_logo, class: 'iox-logo' %>

  <!-- Tabs control -->
  <div class="btn-group webpage-tabs-control">
    <button class="btn-flat btn active white" data-to-id="general" style="padding: 6px 10px 7px;"><%= t('webpage.general') %></button>
    <button class="btn-flat btn white" data-to-id="meta" style="padding: 7px 10px 6px"><i class="icon-cog"></i></button>
    <button class="btn-flat btn white" data-to-id="images" style="padding: 7px 10px 6px"><i class="icon-picture"></i></button>
    <button class="btn-flat btn white" data-to-id="webbit" style="padding: 7px 10px 6px"><i class="icon-sitemap"></i></button>
    <button class="btn-flat btn white" data-to-id="webbit-tools" style="padding: 7px 10px 6px"><i class="icon-wrench"></i></button>
  </div>

  <div id="webpage-tab-general" class="webpage-tab active">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>


      <div class="slider-frame <%= @webpage.published? ? 'success' : '' %> pull-right">
        <span class="publish-button" data-href="<%= publish_webpage_path(@webpage) %>">
        <i class="icon-<%= @webpage.published? ? 'ok-sign' : 'ban-circle' %>"></i>
        </span>
      </div>

      <%= f.label :template, t('webpage.published') %>

      <p>
        <%= f.label :template, t('webpage.template') %>

        <%= f.select( :template, options_for_select( available_webpage_templates( :translate ), @webpage.template ), {},
            {class: 'select2', style: 'width: 280px', multiple: false} ) %>
      </p>

      <% if @webpage.translation %>

        <%= f.fields_for @webpage.translation do |tr| %>

          <%= tr.hidden_field :id %>

          <p>
            <%= tr.label :locale, t('language') %>

            <%= tr.select( :locale, available_webpage_langs( :translate ), { include_blank: true},
                {class: 'select2 select-lang', style: 'width: 280px', multiple: false} ) %>

          </p>

        <% end %>

      <% end %>

      <p>
        <%= f.label :slug, "Slug" %>
        <%= f.text_field :slug %>
      </p>

  </div>

  <div id="webpage-tab-meta" class="webpage-tab">

    <% if @webpage.translation %>
      <%= f.fields_for @webpage.translation do |tr| %>

        <p><%= tr.label :meta_keywords, t('tags') %></p>

        <%= tr.text_field( :meta_keywords, class: 'select2tags', style: 'width: 280px' ) %>

        <p><%= t('webpage.tags_desc') %></p>

        <p>
          <%= tr.label :meta_description, t('webpage.description') %>
          <%= tr.text_area :meta_description %>
        </p>

        <div>
          <%= f.check_box :show_in_menu %>
          <%= f.label :show_in_menu, t('webpage.show_in_menu') %>
        </div>

        <div>
          <%= f.check_box :show_in_sitemap %>
          <%= f.label :show_in_sitemap, t('webpage.show_in_sitemap') %>
        </div>

      <% end %>
    <% end %>

  </div>

  <div id="webpage-tab-images" class="webpage-tab">

    <h1><%= t('webpage.image_browser') %></h1>
    <div id="images-progress"><div style="width:0" class="bar"></div></div>

    <p class="select-files-text"><%= t('select_files') %></p>

    <ul class="clearfix image-browser" id="image-browser" data-bind="template: { name: 'image-template', foreach: images }"></ul>

    <ul class="clearfix select-files-list">
      <li class="select-files">
        <span class="icon-plus"></span>
        <input type="file" id="upload" name="file" multiple="true" />
      </li>
    </ul>

    <script type="text/javascript">

      $('#upload').fileupload({
        url: '<%= webpage_webfiles_path(@webpage) %>',
        processQueue: {
          action: 'validate',
          acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
        },
        dataType: 'json',
        formData: {
          "authenticity_token": $('input[name="authenticity_token"]:first').val()
        },
        dragover: function( e ){
          $(this).addClass('drop-here');
        },
        done: function (e, data) {
          var file = data._response.result;
          if( file.content_type.indexOf( 'image' ) >= 0 ){
            imagesData.images.push( { orig_url: file.url, thumb_url: file.thumbnail_url, id: file.id } );
            setTimeout( setupImageGalleryDraggable, 50 );
          }
          setTimeout( function(){
            $('#images-progress .bar').css( 'width', 0 );
          }, 500 );
        },
        error: function( response, type, msg ){
          iox.flash.alert( JSON.parse(response.responseText).errors.file[0] );
        },
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $('#images-progress .bar').css( 'width', progress + '%' );
        }
      });

    </script>

  </div>

  <div id="webpage-tab-webbit" class="webpage-tab">

    <div class="webbit-list">
      <div class="webbit-control">
        <a href="#" class="reload-webbits">
          <i class="icon-refresh"></i>
        </a>
        <a href="#" class="create-webbit">
          <i class="icon-plus-sign"></i>
        </a>
        <a href="#" class="delete-selected-webbits">
          <i class="icon-trash"></i>
        </a>
      </div>
      <h1><%= t('webpage.structure') %></h1>
      
      <div id="webbits-tree"></div>

    </div>

  </div>

  <div id="webpage-tab-webbit-tools" class="webpage-tab">

    <% get_required_webbits.each do |webbit| %>
      <%= render partial: "iox/webpages/webbits/#{webbit}", locals: {f: f} %>
    <% end %>

  </div>


  <%= hidden_field_tag :stay_on_page, false, class: 'stay-on-page' %>
  <div class="sidebar-hidden-arr">
    <%= image_tag Rails.configuration.iox.brand_logo, class: 'iox-logo' %>
    <i class="icon-chevron-left"></i>
  </div>
</div>

<script id="webbit-template" type="text/kendo-ui-template">
  <span class='icon #: item.icon #' data-webbit-id='#: item.id #'></span>
  <span>#: item.name #</span><i>#: item.category #</i>
</script>

<script type="text/html" id="image-template">
  <li data-bind="attr: { 'data-id': id } ">
    <img data-bind='attr: { src: thumb_url, "data-orig-path": orig_url }' />
    <div class="overlay"></div>
    <a href="#" class="action-icon remove">
      <i class="icon-remove"></i>
    </a>
  </li>
</script>

<script type="text/javascript">

function setupImageGalleryDraggable(){

  $('.image-browser li').each( function(){
    if( $(this).data('draggable') )
      $(this).draggable('destroy');
  });

  $('.image-browser li').draggable({
    delay: 300,
    appendTo: 'body',
    revert: 'invalid',
    cursor: 'move',
    helper: 'clone',
    zIndex: 10000,
    start: function(e, ui){
      $(ui.helper).addClass("draggable-image")
        .find('.overlay').remove().end()
        .find('.action-icon').remove();
    }
 });

}
  $.getJSON( '<%= images_webpage_path( @webpage ) %>', function( json ){
    json.forEach( function( img ){
      imagesData.images.push( img );
    });
    ko.applyBindings( imagesData, $('#image-browser').get(0) );
    setTimeout( setupImageGalleryDraggable, 100);

  });

  $('.select-lang').on('change', function(e){
    location.href = '?locale='+$(this).find('option:selected').val();
  });

  var treeSource = new kendo.data.HierarchicalDataSource({
      transport: {
          read: function( options ){
            $.ajax({
              url: '<%= webpage_webbits_path(@webpage) %>?parent_id='+(options.data.id ? options.data.id : ''),
              dataType: 'json',
              type: 'get'
            }).done( function( json ){
              options.success( json );
            });
          },
          destroy: function( options ){
            $.ajax({
              url: '<%= webpage_webbits_path(@webpage) %>/'+options.data.id,
              type: 'delete',
              dataType: 'json'
            }).done( function( json ){
              noty({text: json.flash[0][1], timeout: 2000 });
              $('#wb_'+options.data.id).remove();
              options.success( json );
            });
          }
      },
      schema: {
          model: {
              id: 'id',
              hasChildren: 'has_children'
          }
      },
      patch: false
  });

  var treeview;

  $('#webbits-tree').kendoTreeView({
      dataSource: treeSource,
      dataTextField: 'name',
      expanded: true,
      dragAndDrop: true,
      dragend: function(e) {
        var newOrderIds = [];
        $('#webbits-tree .k-item').each( function(e){
          newOrderIds.push( treeview.dataItem(this).id )
        });
        $.ajax({ 
          url: '<%= reorder_webpage_webbits_path(@webpage) %>',
          data: { webbit_id: treeview.dataItem(e.sourceNode).id, 
                  parent_id: (e.destinationNode && e.dropPosition === 'over' ? treeview.dataItem(e.destinationNode).id : null),
                  order: newOrderIds },
          type: 'post',
          dataType: 'json'
        }).done( function( json ){
          noty({text: json.flash[0][1], timeout: 2000 });
        })
      },
      template: kendo.template( $('#webbit-template').html() )
  });
  
  treeview = $('#webbits-tree').data('kendoTreeView');
  
  $('#webbits-tree').on('click', '.k-item', function(e){
    e.stopPropagation();
    var wasSelected = $(this).hasClass('selected').length > 0;
    $('#webbits-tree li').removeClass('selected').find('.k-in').removeClass('k-state-selected');
    if( !wasSelected ){
      $(this).addClass('selected');
      $(this).find('.k-in:first').addClass('k-state-selected')
    }
    $('.webbit').removeClass('active');
    $('#wb_'+$(this).find('[data-webbit-id]').attr('data-webbit-id')).addClass('active');
  });

  $('.delete-selected-webbits').on('click', function(e){
    e.preventDefault();
    $('#webbits-tree .selected').each( function(){
      treeSource.remove( treeview.dataItem( this ) );
    });
    treeSource.sync();
  });

  $('.reload-webbits').on('click', function(e){
    treeSource.read();
  });

  $('.create-webbit').on('click', function(e){
    e.preventDefault();

    if( !$('#new-webbit-window').length )
      $('body').append('<div id="new-webbit-window"></div>');

    var $win = $('#new-webbit-window');
    $win.kendoWindow({
      width: '400px',
      modal: true,
      title: '<%= t('webbit.create') %>',
      content: '<%= new_webpage_webbit_path(@webpage) %>',
      refresh: setupFormHandler
    });
    $win.data('kendoWindow').center();

    function setupFormHandler(){
      $('#new-webbit-window form input[type=text]:first').focus();
      $('#new-webbit-window form').on('submit', function(e){
        e.preventDefault();
        $.ajax({ url: $(this).attr('action'),
          data: $(this).serializeArray(),
          type: 'post',
          dataType: 'json'
        }).done( function( json ){
          if( json.success ){
            treeSource.read();
            $win.data('kendoWindow').destroy();
            if( confirm('<%= t('webpage.reload_page_now') %>') )
              location.reload();
            //var treeview = $('#webbits-tree').data('kendoTreeView');
            //treeview.append( json.item, $('.k-item.selected') );
          }
          noty({text: json.flash[0][1], timeout: 2000 });
        });
      });
    }

  });


  var numPressedKeys = 0;
  $(document).on('keyup', function(e){
    var charCode = e.keyCode? e.keyCode : e.charCode;
    if( ($(e.target).closest('.webbit').length ||
         $(e.target).closest('.webpage-form').length ) ){
        numPressedKeys += 1;
    }
  });

  window.onbeforeunload = function closeEditorWarning(){
    if( numPressedKeys > 1 )
      return '<%= t('webpage.unsaved_content_leave_q') %>';
  }


</script>
