<div class="not-found-error">
  <%= image_tag Rails.configuration.iox.brand_logo, class: 'iox-logo' %>

  <h1><%= t('webpage.errors.oups_not_found') %></h1>
  <% if authenticated? and current_user and current_user.can_manage?(:webpages) %>

    <%= form_for Iox::Webpage.new( name: params[:name] ) do |f| %>
      <%= f.hidden_field :name, params[:name] %>
      <%= f.hidden_field :template, 'default' %>
      <%= f.submit t('webpage.errors.create_webpage'), class: 'btn primary' %>
    <% end %>

  <% end %>

</div>
