<% if authenticated? and current_user and current_user.can_manage?(:webpages) %>

  <%= content_for :add_head do %>
    <%= stylesheet_link_tag 'iox/webpages' %>
    <%= stylesheet_link_tag 'application' %>
    <%# javascript_include_tag 'iox/webpages' %>
  <% end %>

  <div class="webpage-mini-sidebar">
        <!-- save and other actions -->
    <div class="btn-group settings pull-right" style="width:auto">
      <a class="btn" title="<%= t('webpages.back') %>" href="<%= webpages_path %>"><i class="icon-chevron-sign-left"></i></a>
      <a class="btn" title="<%= t('webpage.edit') %>" href="<%= edit_webpage_path(@webpage) %>"><i class="icon-edit"></i></a>
      <button data-toggle="dropdown" class="btn dropdown-toggle">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a href="<%= webpages_path %>"><%= t('webpages.back') %></a></li>
          <li><a href="<%= edit_webpage_path(@webpage) %>" target='_blank'><%= t('view') %></a></li>
          <li><%= link_to t('delete'), @webpage, method: :delete, data: { confirm: t('webpage.really_delete', name: @webpage.name) } %></li>
      </ul>
    </div>

    <%= image_tag 'iox/logo-box_80x29.png', class: 'iox-logo' %>

  </div>

<% end %>

<%= render partial: "iox/webpages/templates/#{@webpage.template}" %>
