<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= Rails.configuration.iox.site_title %></title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= yield :add_css %>
  <%= javascript_include_tag "application" %>
  <%= yield :add_js %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= yield :webpage_sidebar %>

</body>
</html>
