<a class="dashboard<%= " active" if controller.controller_name == 'dashboard' %>" href="/iox/dashboard" title="<%= t('dashboard.title') %>">
  <span class="day"><%= Time.new.strftime "%d" %></span>
  <span class="month"><%= l Time.new, format: '%B' %></span>
</a>
<ul class="app-nav-list">
  <% get_ordered_plugins.each do |plugin| %>
    <% pass = plugin.roles.size == 0 || current_user.is_admin? %>
    <% next if Rails.configuration.iox.skip_plugins && Rails.configuration.iox.skip_plugins.include?(plugin.name) %>
    <% unless pass %>
      <% plugin.roles.each{ |role| pass = pass || current_user.roles.include?(role) } %>
    <% end %>
    <% next unless pass %>
    <li data-plugin-name="<%= plugin.name %>"<%= " class=active" if plugin.name == controller.controller_name %>>
      <a href="<%= plugin.path %>" title="<%= t("#{plugin.name}.title") %>">
        <span class="plugin-text"><%= t("#{plugin.name}.title") %></span>
        <i class="<%= plugin.icon || "icon-#{plugin.name}" %>"></i>
      </a>
    </li>
  <% end %>
</ul>