<ul class="right-menu">
  <li class="user-menu dropdown">
    <%= link_to current_user.username, user_path(current_user), class: 'username' %>
    <a href="<%= user_path(current_user) %>" data-toggle="dropdown" class="user-menu-trigger">
      <%= image_tag current_user.avatar.url(:thumb), class: 'avatar-thumb', 'data-user-id' => current_user.id %>
      <span class="caret"></span>
    </a>
    <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <%= image_tag current_user.avatar.url, class: 'avatar', 'data-user-id' => current_user.id, title: current_user.full_name %>
      <div class="next-to-avatar clearfix">
        <strong><%= current_user.full_name %></strong>
        <br />
        <%= mail_to current_user.email, current_user.email, class: 'user-email' %>
        <br style="margin-bottom: 1.8em" />
        <%= link_to t('change_password'), change_password_path( current_user ), :'data-xhr-win' => true %>
        &mdash;
        <%= link_to t('activities.activities'), activities_path %>
        <br />
        <a href="<%= user_path(current_user) %>" class="btn"><%= t('view_profile') %></a>
      </div>
      <% if current_user.is_admin? %>
      <div class="usage" data-xhr-url="<%= dashboard_quota_path %>" data-xhr-wait-txt="<%= t('loading_quota') %>..."></div>
      <% end %>
      <div class="footer clearfix">
        <a class="btn pull-right" href="<%= logout_path %>"><%= t('auth.logout') %></a>
      </div>
    </div>
  </li>
  <li class="activities-dropdown dropdown hidden-phone" data-xhr-url="<%= activities_summary_path %>" data-xhr-wait-title="<%= t('activities.loading') %>" title="<%= t('activities.activities') %>">
  </li>
</ul>